
@{
    ViewData["Title"] = "DealerDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="simple-user-area custom-padding light-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-3 col-xxl-3 col-md-12 col-12">
                <div class="user-profile-information position-relative">
                    <div class="ag-logo">
                        <div class="image-container">
                            <img src="~/templatefiles/wp-content/uploads/2021/02/athlon.png" class="img-fluid img-full" alt="">
                        </div>
                    </div>
                    <div class="profile-title">
                        <h3>Athlon Automotives</h3>
                    </div>
                    <ul class="profile-info">
                        <li>
                            <span>Email:</span>
                            <a href="mailto:athlon@gmail.com">athlon@gmail.com</a>
                        </li>

                        <li>
                            <span>Contact No</span>
                            <a href="tel:0442079460667">0442079460667</a>
                        </li>

                        <li>
                            <span>Website</span>
                            <a href="#">View Link</a>
                        </li>

                    </ul>
                    <div class="profile-contact">
                        <form name="contact_author" method="POST" id="mw_singlecontact_author">
                            <div class="theme-row">
                                <span class="wrap">
                                    <input type="text" autocomplete="off" placeholder="Your Name" data-sanitize="trim" data-validation="required" data-validation-error-msg="All fields are required." name="username" class="form-control text">
                                </span>
                            </div>
                            <div class="theme-row">
                                <span class="wrap">
                                    <input type="email" autocomplete="off" data-validation="email" placeholder="Email" data-validation-error-msg="All fields are required." data-sanitize="trim" class="form-control text" name="email">
                                </span>
                            </div>
                            <div class="theme-row">
                                <span class="wrap for-my-phone">
                                    <input type="tel" autocomplete="off" id="myphone" data-validation="required" data-validation-error-msg="All fields are required." data-sanitize="trim" class="form-control text" name="contact-no">
                                </span>
                            </div>
                            <div class="theme-row">

                                <span class="wrap">
                                    <textarea cols="10" class="form-control" autocomplete="off" placeholder="Your Message" data-validation="required" data-validation-error-msg-required="All fields are required." data-sanitize="trim" rows="5" name="msg"></textarea>
                                </span>
                            </div>
                            <input type="hidden" id="single_profile_nonce" name="single_profile_nonce" value="cd4fe2893e"><input type="hidden" name="_wp_http_referer" value="/dealer/athlon-automotives/"><input type="hidden" name="profile_id" value="95">
                            <button type="submit" class="btn btn-theme btn-block sonu-button" data-spinner-text="Processing...">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-9 col-xxl-9 col-12">

                <div class="widget-seprator" id="p-listings">
                    <div class="agency-properties">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 grid-item">
                                <div class="my-list1 ">

                                    <div class="my-img-container">
                                        <a class="clr-black" href="../../listings/2019-ford-focus-st/index.htm"><img width="612" height="400" src="~/templatefiles/wp-content/uploads/2021/03/2019-Ford-Focus-ST-Orange-Fury-10-850x567-1-612x400.jpg" class="img-fluid  wp-post-image" alt="" srcset="~/templatefiles/wp-content/uploads/2021/03/2019-Ford-Focus-ST-Orange-Fury-10-850x567-1-612x400.jpg 612w, ~/templatefiles/wp-content/uploads/2021/03/2019-Ford-Focus-ST-Orange-Fury-10-850x567-1-100x66.jpg 100w" sizes="(max-width: 612px) 100vw, 612px"></a>
                                        <button data-compare-id="218" class="property-tools fav-comp btn d-flex justify-content-center align-items-center compare-prop" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Compare"><i class="fas fa-random"></i></button>
                                        <button data-fav-id="218" class="property-tools btn d-flex justify-content-center align-items-center fav-prop" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Favourite"><i class="far fa-heart"></i></button>
                                        <div class="listing-meta">
                                            <ul class="inline-list">
                                                <li><span class="fas fa-camera" aria-hidden="true"></span> 2</li>
                                                <li>
                                                    <span class="fas fa-play-circle" aria-hidden="true"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="my-content-area align-self-center">
                                        <div class="property-labels absolute-no">
                                            <div class="label-badges">
                                                <ul class="list-unstyled text-start">
                                                    <li class="list-inline-item">
                                                        <span class="mydata-attr badge badge-type-306" data-url="https://listing.maxwheelswp.com/inventory/?type[]=hot-offer">Hot Offer</span>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <span class="mydata-attr badge badge-label-80" data-url="https://listing.maxwheelswp.com/inventory/?condition[]=used">Used</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h5 class="card-title">
                                            <a class="clr-black" href="../../listings/2019-ford-focus-st/index.htm">2019 Ford Focus ST</a>
                                        </h5>
                                        <ul class="listing-features-list">
                                            <li>
                                                <span class="top-list">
                                                    <i class="flaticon-gearshift-1"></i>
                                                    <span class="mylabel">Transmission</span>
                                                    <span class="myvalue"><span class="mydata-attr" data-url="https://listing.maxwheelswp.com/inventory/?transmission[]=manual">Manual</span></span>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="top-list">
                                                    <i class="flaticon-steering-wheel-4"></i>
                                                    <span class="mylabel">Drive</span>
                                                    <span class="myvalue"><span class="mydata-attr" data-url="https://listing.maxwheelswp.com/inventory/?drive-type[]=fwd">FWD</span></span>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="top-list">
                                                    <i class="flaticon-fast"></i>
                                                    <span class="mylabel">Mileage</span>
                                                    <span class="myvalue">14,752 (Mi)</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <div class="d-flex">
                                            <div><p class="extrp"> <span> <i class="fas fa-location-arrow clr-yal"> </i></span>Plas Derwen, London Rd, Corwen, LL21</p></div>
                                            <div class="ms-auto">

                                            </div>
                                        </div>
                                        <div class="pricing-area">
                                            <div class="selling-price">
                                                <span>$ 32,000</span>
                                            </div>
                                            <div class="author">

                                                <a href="index.htm">
                                                    <img src="~/templatefiles/wp-content/uploads/2021/02/athlon-120x120.png" alt="" class="avatar img-raiseds">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 grid-item">
                                <div class="my-list1 ">

                                    <div class="my-img-container">
                                        <a class="clr-black" href="../../listings/2017-audi-a8-3-0-tfsi-quattro/index.htm"><img width="612" height="400" src="~/templatefiles/wp-content/uploads/2021/03/1paNruoAncU0-612x400.jpg" class="img-fluid  wp-post-image" alt="" loading="lazy" srcset="~/templatefiles/wp-content/uploads/2021/03/1paNruoAncU0-612x400.jpg 612w, ~/templatefiles/wp-content/uploads/2021/03/1paNruoAncU0-100x66.jpg 100w" sizes="(max-width: 612px) 100vw, 612px"></a>
                                        <button data-compare-id="214" class="property-tools fav-comp btn d-flex justify-content-center align-items-center compare-prop" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Compare"><i class="fas fa-random"></i></button>
                                        <button data-fav-id="214" class="property-tools btn d-flex justify-content-center align-items-center fav-prop" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Favourite"><i class="far fa-heart"></i></button>
                                        <div class="listing-meta">
                                            <ul class="inline-list">
                                                <li><span class="fas fa-camera" aria-hidden="true"></span> 3</li>
                                                <li>
                                                    <span class="fas fa-play-circle" aria-hidden="true"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="my-content-area align-self-center">
                                        <div class="property-labels absolute-no">
                                            <div class="label-badges">
                                                <ul class="list-unstyled text-start">
                                                    <li class="list-inline-item">
                                                        <span class="mydata-attr badge badge-type-309" data-url="https://listing.maxwheelswp.com/inventory/?type[]=sell">Sell</span>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <span class="mydata-attr badge badge-label-80" data-url="https://listing.maxwheelswp.com/inventory/?condition[]=used">Used</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h5 class="card-title">
                                            <a class="clr-black" href="../../listings/2017-audi-a8-3-0-tfsi-quattro/index.htm">2017 Audi A8 3.0 TFSI Quattro</a>
                                        </h5>
                                        <ul class="listing-features-list">
                                            <li>
                                                <span class="top-list">
                                                    <i class="flaticon-gearshift-1"></i>
                                                    <span class="mylabel">Transmission</span>
                                                    <span class="myvalue"><span class="mydata-attr" data-url="https://listing.maxwheelswp.com/inventory/?transmission[]=automatic">Automatic</span></span>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="top-list">
                                                    <i class="flaticon-steering-wheel-4"></i>
                                                    <span class="mylabel">Drive</span>
                                                    <span class="myvalue"><span class="mydata-attr" data-url="https://listing.maxwheelswp.com/inventory/?drive-type[]=rwd">RWD</span></span>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="top-list">
                                                    <i class="flaticon-fast"></i>
                                                    <span class="mylabel">Mileage</span>
                                                    <span class="myvalue">22,000 (Mi)</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <div class="d-flex">
                                            <div><p class="extrp"> <span> <i class="fas fa-location-arrow clr-yal"> </i></span>128 London Rd, Coalville, LE67 3JD</p></div>
                                            <div class="ms-auto">

                                            </div>
                                        </div>
                                        <div class="pricing-area">
                                            <div class="selling-price">
                                                <span>$ 75,800</span>
                                            </div>
                                            <div class="author">

                                                <a href="index.htm">
                                                    <img src="~/templatefiles/wp-content/uploads/2021/02/athlon-120x120.png" alt="" class="avatar img-raiseds">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 grid-item">
                                <div class="my-list1 ">

                                    <div class="my-img-container">
                                        <a class="clr-black" href="../../listings/2017-chevrolet-equinox/index.htm"><img width="612" height="400" src="~/templatefiles/wp-content/uploads/2021/03/1-2020-chevrolet-equinox-612x400.jpg" class="img-fluid  wp-post-image" alt="" loading="lazy" srcset="~/templatefiles/wp-content/uploads/2021/03/1-2020-chevrolet-equinox-612x400.jpg 612w, ~/templatefiles/wp-content/uploads/2021/03/1-2020-chevrolet-equinox-100x66.jpg 100w" sizes="(max-width: 612px) 100vw, 612px"></a>
                                        <button data-compare-id="202" class="property-tools fav-comp btn d-flex justify-content-center align-items-center compare-prop" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Compare"><i class="fas fa-random"></i></button>
                                        <button data-fav-id="202" class="property-tools btn d-flex justify-content-center align-items-center fav-prop" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Favourite"><i class="far fa-heart"></i></button>
                                        <div class="listing-meta">
                                            <ul class="inline-list">
                                                <li><span class="fas fa-camera" aria-hidden="true"></span> 2</li>
                                                <li>
                                                    <span class="fas fa-play-circle" aria-hidden="true"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="my-content-area align-self-center">
                                        <div class="property-labels absolute-no">
                                            <div class="label-badges">
                                                <ul class="list-unstyled text-start">
                                                    <li class="list-inline-item">
                                                        <span class="mydata-attr badge badge-type-309" data-url="https://listing.maxwheelswp.com/inventory/?type[]=sell">Sell</span>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <span class="mydata-attr badge badge-label-80" data-url="https://listing.maxwheelswp.com/inventory/?condition[]=used">Used</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h5 class="card-title">
                                            <a class="clr-black" href="../../listings/2017-chevrolet-equinox/index.htm">2017 Chevrolet Equinox</a>
                                        </h5>
                                        <ul class="listing-features-list">
                                            <li>
                                                <span class="top-list">
                                                    <i class="flaticon-gearshift-1"></i>
                                                    <span class="mylabel">Transmission</span>
                                                    <span class="myvalue"><span class="mydata-attr" data-url="https://listing.maxwheelswp.com/inventory/?transmission[]=manual">Manual</span></span>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="top-list">
                                                    <i class="flaticon-steering-wheel-4"></i>
                                                    <span class="mylabel">Drive</span>
                                                    <span class="myvalue"><span class="mydata-attr" data-url="https://listing.maxwheelswp.com/inventory/?drive-type[]=rwd">RWD</span></span>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="top-list">
                                                    <i class="flaticon-fast"></i>
                                                    <span class="mylabel">Mileage</span>
                                                    <span class="myvalue">13,000 (Mi)</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <div class="d-flex">
                                            <div><p class="extrp"> <span> <i class="fas fa-location-arrow clr-yal"> </i></span>33 Oxford St, Barrow-In-Furness, LA14</p></div>
                                            <div class="ms-auto">

                                            </div>
                                        </div>
                                        <div class="pricing-area">
                                            <div class="selling-price">
                                                <span>$ 57,000</span>
                                            </div>
                                            <div class="author">

                                                <a href="index.htm">
                                                    <img src="~/templatefiles/wp-content/uploads/2021/02/athlon-120x120.png" alt="" class="avatar img-raiseds">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="viewmore-button">
                        <a class="btn btn-theme float-end" href="../../inventory/index-41.htm?inventory-author=9" target="_blank">View All Inventory</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<button class="scroll-top scroll-to-target" data-target="html"><span class="fas fa-angle-up"></span></button>
<div class="modal mybode fade" id="mynewpass">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="modal-from new-my-pass" name="mynewPass" method="POST" id="mynewPass">
                <div class="modal-header">
                    <h3 class="modal-title">Reset Your Password</h3>
                    <button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="theme-row">
                        <label>New Password<span class="req-mark">*</span></label>
                        <span class="wrap">
                            <input type="password" autocomplete="off" data-sanitize="trim" data-validation="length" data-validation-length="3-12" data-validation-error-msg="Please choose a password with at least 3-12 characters." name="password" class="form-control text">
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="pass_nonce" name="pass_nonce" value="678d0c4760"><input type="hidden" name="_wp_http_referer" value="/dealer/athlon-automotives/">          <input type="hidden" name="requested_user_id" value="">
                    <button type="submit" class="btn btn-theme btn-reset-new" data-spinner-text="Processing...">Change My Password</button>

                </div>
            </form>
        </div>
    </div>
</div><div class="modal fade" id="check_userrole" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="modal-from new-my-pass" name="myuser_type" method="POST" id="myuser_type">
                <div class="modal-header">
                    <h3 class="modal-title">Select User Type</h3>
                </div>
                <div class="modal-body">
                    <div class="theme-row theme-role">
                        <label>User Type <span class="req-mark">*</span></label>
                        <span class="wrap">
                            <select class="form-control theme-selects-role" data-sanitize="trim" name="usertype" data-placeholder="Select User Type" data-validation="required" data-validation-error-msg-required="All fields are required.">
                                <option value="dealer">Dealer</option>
                                <option value="buyer">Buyer/Individual</option>
                            </select>
                        </span>
                    </div>
                    <div class="theme-row">
                        <label>Display Name  <i class="far fa-question-circle" data-bs-toggle="popover" data-bs-placement="top" data-content="Dealer or Buyer display name eg (Dany Motors)"></i></label>
                        <span class="wrap">
                            <input type="text" autocomplete="off" data-sanitize="trim" name="displayname" class="form-control text" data-validation="required" data-validation-error-msg-required="All fields are required.">
                        </span>
                    </div>
                    <span class="theme-txt"><strong>Note:</strong> Please choose your type accordingly because you can't change your type after selection.</span>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="usertype_nonce" name="usertype_nonce" value="7de46e3c06"><input type="hidden" name="_wp_http_referer" value="/dealer/athlon-automotives/">          <button type="submit" class="btn btn-theme btn-role" data-spinner-text="Processing...">Select Type</button>
                </div>
            </form>
        </div>
    </div>
</div>


<input type="hidden" name="is_rtl" value="0">
<input type="hidden" name="is_curr_location" value="0">
<div class="modal fade" id="vinModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/templatefiles/wp-content/themes/maxwheels/libs/images/vin.png" alt="" class="img-fluid mx-auto d-block p-3">
                <h3>Where is my VIN?</h3>
                <p>The VIN is a unique identification number for your vehicle. It is 17 characters in length.</p>
                <ol>
                    <li>
                        <h4>Under the windscreen wipers</h4>
                        <p>Visible through the bottom of the windscreen</p>
                    </li>
                    <li>
                        <h4>Engine Bay</h4>
                        <p>Under the bonnet, usually at the front or back</p>
                    </li>
                    <li>
                        <h4>Stamped on the chassis</h4>
                        <p>Some utes and 4WDs, visible within a wheel arch</p>
                    </li>
                    <li>
                        <h4>Inside front door</h4>
                        <p>Open the door and look on the frame</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<button class="scroll-top scroll-to-target" data-target="html"><span class="fas fa-angle-up"></span></button>
<div class="modal mybode fade" id="mynewpass">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="modal-from new-my-pass" name="mynewPass" method="POST" id="mynewPass">
                <div class="modal-header">
                    <h3 class="modal-title">Reset Your Password</h3>
                    <button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="theme-row">
                        <label>New Password<span class="req-mark">*</span></label>
                        <span class="wrap">
                            <input type="password" autocomplete="off" data-sanitize="trim" data-validation="length" data-validation-length="3-12" data-validation-error-msg="Please choose a password with at least 3-12 characters." name="password" class="form-control text">
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="pass_nonce" name="pass_nonce" value="678d0c4760"><input type="hidden" name="_wp_http_referer" value="/dealer/athlon-automotives/">          <input type="hidden" name="requested_user_id" value="">
                    <button type="submit" class="btn btn-theme btn-reset-new" data-spinner-text="Processing...">Change My Password</button>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="check_userrole" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="modal-from new-my-pass" name="myuser_type" method="POST" id="myuser_type">
                <div class="modal-header">
                    <h3 class="modal-title">Select User Type</h3>
                </div>
                <div class="modal-body">
                    <div class="theme-row theme-role">
                        <label>User Type <span class="req-mark">*</span></label>
                        <span class="wrap">
                            <select class="form-control theme-selects-role" data-sanitize="trim" name="usertype" data-placeholder="Select User Type" data-validation="required" data-validation-error-msg-required="All fields are required.">
                                <option value="dealer">Dealer</option>
                                <option value="buyer">Buyer/Individual</option>
                            </select>
                        </span>
                    </div>
                    <div class="theme-row">
                        <label>Display Name  <i class="far fa-question-circle" data-bs-toggle="popover" data-bs-placement="top" data-content="Dealer or Buyer display name eg (Dany Motors)"></i></label>
                        <span class="wrap">
                            <input type="text" autocomplete="off" data-sanitize="trim" name="displayname" class="form-control text" data-validation="required" data-validation-error-msg-required="All fields are required.">
                        </span>
                    </div>
                    <span class="theme-txt"><strong>Note:</strong> Please choose your type accordingly because you can't change your type after selection.</span>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="usertype_nonce" name="usertype_nonce" value="7de46e3c06"><input type="hidden" name="_wp_http_referer" value="/dealer/athlon-automotives/">          <button type="submit" class="btn btn-theme btn-role" data-spinner-text="Processing...">Select Type</button>
                </div>
            </form>
        </div>
    </div>
</div>


<input type="hidden" name="is_rtl" value="0">
<input type="hidden" name="is_curr_location" value="0">
<div class="modal fade" id="vinModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../../wp-content/themes/maxwheels/libs/images/vin.png" alt="" class="img-fluid mx-auto d-block p-3">
                <h3>Where is my VIN?</h3>
                <p>The VIN is a unique identification number for your vehicle. It is 17 characters in length.</p>
                <ol>
                    <li>
                        <h4>Under the windscreen wipers</h4>
                        <p>Visible through the bottom of the windscreen</p>
                    </li>
                    <li>
                        <h4>Engine Bay</h4>
                        <p>Under the bonnet, usually at the front or back</p>
                    </li>
                    <li>
                        <h4>Stamped on the chassis</h4>
                        <p>Some utes and 4WDs, visible within a wheel arch</p>
                    </li>
                    <li>
                        <h4>Inside front door</h4>
                        <p>Open the door and look on the frame</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

